:root {
  --bg-color:     #1E2026;
  --text-color:   #e0e0e0;
  --primary-color:#1f6feb;
  --nav-bg:       #1a1a1a;
  --footer-bg:    #1e1e1e;
  --yellow_main:  #EEB82E;
  --gray_main:    #e3e5f1;
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;

  font-family: 'Inter', sans‑serif;
  background-color: var(--bg-color);
  color: var(--text-color);

  opacity: 0;
  transition: opacity 0.6s ease;
}
body.loaded {
  opacity: 1;
}


header {
  grid-row: 1;
  background-color: var(--nav-bg);
  color: var(--text-color);
  padding: 15px 20px;
}


main {
  grid-row: 2;
  padding: 20px;
}


h1 {
  text-align: center;
  margin-top: 5px;
}


.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 15px;
}

.gallery img {
  width: 100%;
  height: auto;
  cursor: pointer;
  border-radius: 8px;
  transition: transform 0.3s ease;
}
.gallery img:hover {
  transform: scale(1.05);
}
.gallery img.visible {
  opacity: 1;
  transform: translateY(0);
}


#footer_main_id {
  grid-row: 3;

  text-align: center;
  padding: 15px;
  background-color: var(--footer-bg);
  color: var(--text-color);


}


html {
  scroll-behavior: smooth;
}


.lightbox {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
.lightbox.active {
  opacity: 1;
  pointer-events: auto;
}
.lightbox img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
}
